@import 'vendor/normalize';
@import 'vendor/foundation';

html{
	body{
		background: #000;
		color: #fff;

		iframe{ 
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			width: 100%;
			height: 100%;
			///z-index: -999;
		}
		.hidden{ 
			display: none;
		}
		.logo{ 
			display: inline-block;
			text-indent: -9999px;
			height: 0;
			padding-top: 100px;
			width: 400px;
			background: url(bentellect-wm.png);
			z-index: 9999;
			background-size: contain;
			background-repeat: no-repeat;
			float: left;
			position: relative;
			margin-bottom: 5px;
		}
		header.main{ 
			width: 100%;
			text-align: center;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;

			.innerContainer{ 
				width: 400px;
				margin: auto;
			}
		}
		nav.main{
			z-index: 9999;
			text-transform: uppercase;
			letter-spacing: .1em;
			position: relative;

			ul{ 
				margin: 0;
				font-size: 40px;
				padding: 0; 

				li{ 
					display: inline-block;
					margin-right: 17px;

					&:after{ 
						//content: '\2014';
						//margin-right: 0;
						//margin: 0;
					}
					&:last-child{ 
						//margin-right: 0;

						&:after{ 
							display: none; 
							content: '';
						}
					}
					a{ 
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}

